# Älä lataa tietokannan raakadataa tai WordPressin ytimen muuttuvia osia
# wp-content/

# Salaiset tiedot, kuten tietokantayhteydet ja API-avaimet
.wp-config.php
.env

# Ohita tietokannan varmuuskopiot
*.sql

# Ohita skriptit
*.sh

# Ohita DS_Store-tiedostot (macOS)
.DS_Store

# Ohita varmuuskopiot
wp-content/ai1wm-backups/

# Ohita Languages-kansio, ei käännöksiä
wp-content/languages/

# Ohita plugins-kansio
wp-content/plugins/

# Ohita Upgrade-template-kansio
wp-content/upgrade-temp-backup/