services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      # TÄSSÄ KÄYTETÄÄN ROOT-SALASANAA:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      # TÄSSÄ KÄYTETÄÄN TAVALLISTA SALASANAA:
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "8080:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wpuser
      # TÄSSÄ KÄYTETÄÄN SAMAAN TAVALLISTA SALASANAA KUIN YLLÄ:
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp-content:/var/www/html/wp-content

volumes:
  db_data: {}
